
.gradle/8.9/checksums/checksums.lock
/.gradle
/.idea
/.kotlin
/build
/composeApp/build
local.properties
composeApp/hs_err_pid30273.log
composeApp/hs_err_pid30179.log
composeApp/hs_err_pid30350.log
composeApp/hs_err_pid30426.log
composeApp/hs_err_pid31676.log
composeApp/hs_err_pid31808.log
composeApp/hs_err_pid32281.log
composeApp/hs_err_pid3272.log
gradlew
gradlew.bat
